{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>HBD</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/jquery.poptrox.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/init.js" %}"></script>
        <script src="{% static "js/Chart.min.js" %}"></script>
        <script src="{% static "js/charts.js" %}"></script>
        <script>
            var years_charts_labels = {{ years_charts_labels }};
            var years_charts_new = {{ years_charts_new }};
            var years_charts_same = {{ years_charts_same }};
            var years_charts_lost = {{ years_charts_lost }};
            var years_charts_all = {{ years_charts_all }};
            var word_chart_labels = {{ word_chart_labels|safe }};
            var word_chart_count = {{ word_chart_count }};
        </script>
        <link rel="stylesheet" href="{% static "css/skel.css" %}" />
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <link rel="stylesheet" href="{% static "css/style-xlarge.css" %}" />
        <!--[if lte IE 8]><script src="{% static "css/ie/html5shiv.js" %}"></script><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{% static "css/ie/v8.css" %}" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="{{ picture }}" alt="" /></a>
				<h1>Hello <strong>{{ name }}</strong>,<br />
				today is your birthday.<br />
				We wish you great <a href="https://bitbucket.org/yesyoucan/socialcharts">statistics</a>.</h1>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>Ne soufflez plus vos bougies !<br />Soufflez les amis qui ne vous ont pas souhaité bonne fête.</h2>
						</header>

						<p>You were wished <strong>{{ all }}</strong> Happy Birthdays in total! <strong>{{ friends_who_wished }}</strong> among your <strong>{{ total_friends }}</strong> friends wished you an happy birthday at least once.</p>

                        <h2>Birthdays throughout the years</h2>
                        <canvas id="yearlyBirthdays" height="400"></canvas>
                        <div class="table-wrapper">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Year</th>
                                        <th style="color:rgba(122,87,87,1);">All</th>
                                        <th style="color:rgba(39,204,119,1);">New</th>
                                        <th style="color:rgba(142,168,191,1);">Same</th>
                                        <th style="color:rgba(242,87,87,1);">Lost</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key, value in diff.items %}
                                    {% with new=value.new|length same=value.same|length lost=value.lost|length %}
                                    <tr>
                                        <td>{{key}}</td>
                                        <td>{{new|add:same}}</td>
                                        <td>{{new}}</td>
                                        <td>{{same}}</td>
                                        <td>{{lost}}</td>
                                        {% endwith %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                        <ul>
                            <li></li>
                        </ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Words your friends use to wish you an happy birthday</h2>
                        <canvas id="wordsUsed" height="400"></canvas>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>The longest wishes</h2>
                    	<p>These are probably the most friendly birthday wishes you got.</p>

                        {% for i in longest_wishes %}
                            <h5>{{ i.1.user }} — <strong>{{ i.1.year }}</strong></h5>
							<blockquote>{{ i.1.message }}</blockquote>
                        {% endfor %}
					</section>

				<!-- Four -->
					<section id="four">
						<h2>Your closest friends</h2>
                        <table>
                            <thead>
                                <tr>
                                    <th></th>
                                    {% for year in years_charts_labels %}
                                    <th>{{ year }} </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for key, value in wishes_grid.items %}
                                <tr>
                                    <td>{{ key }}</td>
                                    {% for year in years_charts_labels %}
                                        <td>
                                        {% for year2 in value.years %}
                                            {% if year2 == year %}
                                            <center><img style="vertical-align:middle;margin-bottom:4px;" src="{{ value.url }}" width="20" height="20" /></center>
                                            {% endif %}
                                        {% endfor %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>

					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="https://twitter.com/stephanebru" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="https://github.com/stephanebruckert" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="https://dribbble.com/stephanebruckert/likes" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="mailto:contact[at]stephanebruckert.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; SocialCharts</li><li>2014</li>
				</ul>
			</footer>

	</body>
</html>